@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

body {
    font-family:"Urbanist", sans-serif;
    background-color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: "20px";
    }
    body {
        font-size: "14px";
        background-color: bisque;
        color: #FFF 
    }
}

@media (min-width: 481px) and (max-width: 1025px) {
    h1 {
        font-size: "50px";
    }
    body {
        font-size: "26px";
        background-color: bisque;
        color: #000
    }
}

.navigation {
    font-size: larger;
} 

.about-me {

}

.footer {
    font-size: large;
}

#profile-img {
    float: left;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7; 
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: white;
}